<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="p-grid" *ngIf="character">
  <div class="p-col-12 p-md-10 p-col-nogutter">
    <div class="p-col-12 p-col-nogutter">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Basic Information">
          <div class="pat-header-content">
            This is the basic information for your character.
          </div>
        </p-accordionTab>
        <div class="p-col-12">
          <div class="p-grid">

            <div class="p-col-12 p-md-4">
              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="character.Name"> 
                <label for="float-input">Name</label>
              </span>

              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="character.Chronicle"> 
                <label for="float-input">Chronicle</label>
              </span>

              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="character.Sire"> 
                <label for="float-input">Sire</label>
              </span>
            </div>

            <div class="p-col-12 p-md-4">
              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Concept</label>
              </span>

              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Ambition</label>
              </span>

              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Desire</label>
              </span>
            </div>
            
            <div class="p-col-12 p-md-4">
              <br />
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Predator</label>
              </span>

              <br />
              <span class="ui-float-label">
                <p-dropdown [options]="clans" [(ngModel)]="character.Clan"
                  (onChange)="checkGenForClan($event)">
                </p-dropdown>
                <label for="float-input">Clan</label>
              </span>

              <br />
              <span class="ui-float-label">
                <p-dropdown [options]="generations" [(ngModel)]="character.Generation"
                  (onChange)="checkClanForGen($event)" >
                </p-dropdown>
                <label for="float-input">Generation</label>
              </span>
            </div>

          </div>
        </div>

        <p-accordionTab header="Attributes">
          <div class="pat-header-content">
            Starting attributes for a new character should have the following dot allocations: <br />
            <br />

            <span style="font-weight: bold;">
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="4" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
              in your character’s best attribute.
            </span><br />
            <span style="font-weight: bold;">
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="1" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
              in your character’s worst attribute.
            </span><br />
            <span style="font-weight: bold;">
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="3" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
              each for three attributes of your choice.
            </span><br />
            <span style="font-weight: bold;">
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="2" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
              each for the remaining four attributes.
            </span><br />
            <br />

            Anything outside of these allocations will require ST approval based on XP exependitures. <br />
          </div>
        </p-accordionTab>
        <div class="p-col-12">
          <div class="p-grid">

            <div class="p-col-12 p-md-4">
              <div *ngFor="let pAttr of physicalAttr">
                <span class="attrName">{{pAttr.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="pAttr.Dots" (onRate)="onDotsChange($event, pAttr)" (onCancel)="onDotsClear(pAttr)">;</p-rating>
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div *ngFor="let sAttr of socialAttr">
                <span class="attrName">{{sAttr.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="sAttr.Dots" (onRate)="onDotsChange($event, sAttr)" (onCancel)="onDotsClear(sAttr)">;</p-rating>
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div *ngFor="let mAttr of mentalAttr">
                <span class="attrName">{{mAttr.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="mAttr.Dots" (onRate)="onDotsChange($event, mAttr)" (onCancel)="onDotsClear(mAttr)">;</p-rating>
              </div>
            </div>

            <div class="p-col-12 p-md-6">
              <span class="attrName noClear">Health</span>
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                [ngModel]="character.Health" [cancel]="false" readonly="true" stars="8">;</p-rating>
            </div>
            <div class="p-col-12 p-md-6">
              <span class="attrName noClear">Willpower</span>
              <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                [ngModel]="character.Willpower" [cancel]="false" readonly="true" stars="8">;</p-rating>
            </div>
          
          </div>
        </div>

        <p-accordionTab header="Skills">
          <div class="pat-header-content">
            Starting skills for a new character can fall into one of three categories. Select from the list to choose a dstribution method. <br />
            <br />
            <br />
            <span class="ui-float-label">
              <p-dropdown [options]="skillDistributionMethods" [(ngModel)]="skillDistributionMethod"
                (onChange)="onSkillDistributionMethodChanged($event)" >
              </p-dropdown>
              <label for="float-input">Skill Distribution Method</label>
            </span>

            <span style="font-weight: bold;" *ngIf="skillFourDotsAllowed > 0">
              {{skillFourDotsAllowed}} skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="4" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />

            <span style="font-weight: bold;">
              {{skillThreeDotsAllowed}} skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="3" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />

            <span style="font-weight: bold;">
              {{skillTwoDotsAllowed}} skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="2" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
              
            <span style="font-weight: bold;">
              {{skillOneDotsAllowed}} skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="1" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
            <br />
       
            <!-- <span class="skillAllottmentName">Professions</span><br />
            Decide on skills from past or current professions.<br />
            <span style="font-weight: bold;">
              Two skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="3" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
            <span style="font-weight: bold;">
              Two skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="2" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
            * Choose a professional Specialty.<br />
            <br />

            <span class="skillAllottmentName">Life Events</span><br />
            Decide on two defining life events.<br />
            <span style="font-weight: bold;">
              One teaches you one skill at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="3" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
            <span style="font-weight: bold;">
              The other teaches you one skill at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="2" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating>
            </span><br />
            <br />

            <span class="skillAllottmentName">Leisure Activities</span><br />
            What do you do for kicks? Based on your hobbies take <br />
            <span style="font-weight: bold;">
              Three skills at <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" 
                [ngModel]="1" readonly="true" stars="5" [cancel]="false" style="display:inline-block"></p-rating> each.
            </span><br />
            <br />

            <span class="skillAllottmentName">Extra Skills</span><br />
            At this point you have options to take a specialist or generalist package which determines how you spend your remaining dots.
            <br />
            <br />

            Getting the first dot in Academics, Science, Craft or Performance grants a Specialty in that skill.
            <br />
            <br /> -->

            Anything outside of these allocations will require ST approval based on XP exependitures.
            <br />
          </div>
        </p-accordionTab>
        <div class="p-col-12">
          <div class="p-grid">

            <div class="p-col-12 p-md-4">
              <div *ngFor="let pSkill of physicalSkills">
                <span class="attrName">{{pSkill.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="pSkill.Dots" (onRate)="onDotsChange($event, pSkill)">;</p-rating>
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div *ngFor="let sSkill of socialSkills">
                <span class="attrName">{{sSkill.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="sSkill.Dots" (onRate)="onDotsChange($event, sSkill)">;</p-rating>
              </div>
            </div>

            <div class="p-col-12 p-md-4">
              <div *ngFor="let mSkill of mentalSkills">
                <span class="attrName">{{mSkill.Name}}</span>
                <p-rating iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times"
                  [(ngModel)]="mSkill.Dots" (onRate)="onDotsChange($event, mSkill)">;</p-rating>
              </div>
            </div>
        
          </div>
        </div>
      </p-accordion>
    </div>

  </div>
</div>

  